<!DOCTYPE html>
<html lang="en" ng-app="TunaTechApp">

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KGCLSH7');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url" content="http://tunatech.mx/index.html" />
    <meta property="og:title" content="TunaTech 2017" />
    <meta property="og:description" content="Tecnología, ciencia, innovación: Pláticas y talleres" />
    <meta property="og:image" content="http://tunatech.mx/assets/images/share-image.png" />

    <title>TunaTech 2017</title>

    <!-- css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css?v=1">
</head>

<body data-spy="scroll" data-target="#site-nav" ng-controller="HomeController as vm">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGCLSH7"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">

                <!-- logo -->
                <div class="site-branding">
                    <a class="logo" href="index.html">
                        <!-- logo image  -->
                        <img src="assets/images/logo.png" alt="Logo">
                    </a>
                </div>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- /.navbar-header -->

            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="nav navbar-nav navbar-right">

                    <!-- navigation menu -->
                    <li class="active"><a data-scroll href="#about">Acerca de</a></li>
                    <li><a data-scroll href="#speakers">Expositores</a></li>
                    <li><a data-scroll href="#schedule">Agenda</a></li>
                    <li><a data-scroll href="#partner">Patrocinadores</a></li>
                    <!-- <li><a data-scroll href="#">Sponsorship</a></li> -->
                    <li><a data-scroll href="#faq">Preguntas</a></li>
                    <!--<li><a data-scroll href="#photos">Fotos</a></li>-->

                </ul>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <header id="site-header" class="site-header valign-center">
        <div class="intro">

            <h2>19 & 20 Agosto, 2017 / Centro de las artes, SLP</h2>
            <h1 class="green">Tecnología + Ciencia = Innovación</h1>
            <p>Pláticas, Talleres y Conferencias</p>
            <a class="btn btn-white" target="_blank" href="https://www.eventbrite.com/e/tunatech-2017-tickets-35881620894">Registrate</a>

        </div>
    </header>

    <section id="about" class="section about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">

                    <h3 class="section-title purple">Acerca de</h3>
                    <p style="text-align: justify">TunaTech es un evento enfocado en reunir comunidades de tecnología, emprendimiento, makers, creativos,
                        científicos y profesionistas de diferentes ramas. Buscamos crear lazos interdisciplinarios que sumen
                        esfuerzos y resulten en la creación de proyectos e ideas nuevas que detonen el desarrollo de nuestra
                        ciudad.
                    </p>
                </div>
                <!-- /.col-sm-6 -->

                <div class="col-sm-6">

                    <h3 class="section-title multiple-title purple">Objetivo</h3>

                    <p style="text-align: justify">Nuestro objetivo es fomentar el uso de la ciencia, la tecnología y la innovación, así como el crear
                        dinámicas entre áreas con características en común para que aumente la visión del panorama actual
                        de los asistentes al evento mientras conocen otros temas afines a sus intereses. El objetivo en asistencia
                        para esta primera edición es atraer 500 asistentes como total durante los dos días de realización
                        del evento, conservando un cupo máximo de 150 personas como total simultáneo para todos los espacios
                        durante el transcurso del evento.</p>

                    <!--<ul class="list-arrow-right">

                        <li>Learn from the best Asian Social Media Experts &amp; Case Studies</li>
                        <li>Have dedicated 2-to-1 meetings with the experts</li>
                        <li>Reach more consumers for less by learning new digital media skills</li>
                        <li>Save money when spending in online advertising</li>
                    
                    </ul>-->

                </div>
                <!-- /.col-sm-6 -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-sm-12">
                    <h3 class="section-title purple">Comunidades</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 logo-container">
                    <img class="logo" src="/assets/images/community/epic.png" />
                </div>
                <div class="col-sm-2 logo-container">
                    <img class="logo" src="/assets/images/community/fablab.jpg" />
                </div>
                <div class="col-sm-2 logo-container">
                    <img class="logo" src="/assets/images/community/HFSLP.png" />
                </div>
                <div class="col-sm-2 logo-container">
                    <img class="logo" src="/assets/images/community/prismatic_logo.png" />
                </div>
                <div class="col-sm-2 logo-container">
                    <img class="logo" src="/assets/images/community/creative.png" />
                </div>
                <div class="col-sm-2 logo-container">
                    <img class="logo" src="/assets/images/community/fuckup.png" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 logo-container">
                    <img class="logo" src="/assets/images/community/desarrolladorSLPLogo.png" />
                </div>
                <div class="col-sm-2 logo-container">
                    <img class="logo" src="/assets/images/community/imparable.png" />
                </div>
                <div class="col-sm-2 logo-container">
                    <img class="logo" src="/assets/images/community/kubal.jpg" />
                </div>
                <div class="col-sm-2 logo-container">
                    <img class="logo" src="/assets/images/community/technovation.jpg" />
                </div>
                <div class="col-sm-2 logo-container">
                    <img class="logo" src="/assets/images/community/inventors.png" />
                </div>
                <div class="col-sm-2 logo-container">
                    <img class="logo" src="/assets/images/community/uxNightsLogo.png" />
                </div>
            </div>

        </div>
        <!-- /.container -->
    </section>

    <section id="facts" class="section bg-image-1 facts text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">

                    <i class="ion-ios-calendar"></i>
                    <h3>2017<br>19 & 20, Agosto</h3>

                </div>
                <div class="col-sm-3">

                    <i class="ion-ios-location"></i>
                    <h3>San Luis Potosi, S.L.P.<br>Mexico</h3>

                </div>
                <div class="col-sm-3">

                    <i class="ion-pricetags"></i>
                    <h3>500<br>Entradas gratuitas</h3>

                </div>
                <div class="col-sm-3">

                    <i class="ion-speakerphone"></i>
                    <h3>25+<br>Expositores</h3>

                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>

    <section id="speakers" class="section speakers">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title">Expositores</h2>
                </div>
            </div>

            <div class="row" ng-repeat="row in vm.speakers">
                <div class="col-md-3" ng-repeat="speaker in row">
                    <div class="speaker" id="speaker-manolo-diaz">
                        <figure ng-click="vm.activateSpeakerLightBox(speaker)">
                            <img alt="" title="" class="img-responsive center-block" ng-src="{{ speaker.picture }}">
                        </figure>
                        <h4>{{ speaker.name }}</h4>
                        <p>{{ speaker.role }}</p>
                        <ul class="social-block" ng-if="speaker.socialMedia">
                            <li ng-if="speaker.socialMedia.twitter">
                                <a ng-href="{{ speaker.socialMedia.twitter }}"><i class="ion-social-twitter"></i></a>
                            </li>
                            <li ng-if="speaker.socialMedia.facebook">
                                <a ng-href="{{ speaker.socialMedia.facebook }}"><i class="ion-social-facebook"></i></a>
                            </li>
                            <li ng-if="speaker.socialMedia.linkedin">
                                <a ng-href="{{ speaker.socialMedia.linkedin }}"><i class="ion-social-linkedin-outline"></i></a>
                            </li>
                        </ul>
                    </div>
                    <lightbox-directive class="angular-lightbox" ng-class="{ hidden : !vm.showSpeakerLightBox }">
                        <article>
                            <header>
                                <a class="close-btn" ng-click="vm.showSpeakerLightBox = false"><i class="fa fa-times-circle"></i></a>
                            </header>
                            <content>
                                <div class="row">
                                    <div class="col-md-5">
                                        <figure ng-click="vm.activateSpeakerLightBox(speaker)">
                                            <img alt="" title="" class="img-responsive center-block" ng-src="{{ vm.currentSpeaker.picture }}">
                                        </figure>
                                    </div>
                                    <div class="col-md-7">
                                        <h3>{{ vm.currentSpeaker.name }}</h3>
                                        <p>{{ vm.currentSpeaker.bio }}</p>
                                    </div>
                                </div>
                            </content>
                        </article>
                    </lightbox-directive>
                    <!-- /.speaker -->
                </div>
                <!-- /.col-md-3 -->
            </div>
        </div>
    </section>

    <section id="schedule" class="section schedule">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title">Agenda</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel" style="display: block;" ng-repeat="block in vm.schedule">
                        <h3>{{ block.title }}</h3>
                        <div ng-repeat="event in block.events">
                            <div class="row">
                                <div class="col-md-12 event">
                                    Hora: <strong>{{ event.time }}</strong> - Lugar: <strong>{{ event.location }}</strong> - Tipo: <strong>{{ event.type }}</strong>
                                    <span class="name">{{ event.name }}</span> 
                                    <span ng-if="event.speaker">Por: {{ event.speaker }}</span><br>
                                    <p class="description">{{ event.description }}</p>
                                    <p class="requirements">{{ event.requirements }}</p>
                                    <p class="resources" ng-repeat="resource in event.resources">
                                        <a target="_blank" href="{{ resource.link }}">{{ resource.title }}</a>
                                    </p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="partner" class="section partner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Patrocinadores</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 logo-container logo-container-sponsor">
                    <a href="http://sdeslp.gob.mx/">
                        <img class="logo" src="/assets/images/sponsors/sedeco.png" />
                    </a>
                </div>
                <div class="col-sm-3 logo-container logo-container-sponsor">
                    <a href="http://www.slp.gob.mx/">
                        <img class="logo" src="/assets/images/sponsors/logo_slp_prospera.png" />
                    </a>
                </div>
                <div class="col-sm-3 logo-container logo-container-sponsor">
                    <a href="http://toptal.com">
                        <img class="logo" src="/assets/images/sponsors/toptal.svg" style="width: 300px; height: 150px;" />
                    </a>
                </div>

                <div class="col-sm-3 logo-container logo-container-sponsor">
                    <a href="http://nearsoft.com">
                        <img class="logo" src="/assets/images/sponsors/nearsoft.png" />
                    </a>
                </div>
                <div class="col-sm-3 logo-container logo-container-sponsor">
                    <a href="https://tpx.mx/">
                        <img class="logo" src="/assets/images/sponsors/tpx.png" />
                    </a>
                </div>
                <div class="col-sm-3 logo-container logo-container-sponsor">
                    <a href="https://www.soyimparable.mx/">
                        <img class="logo" src="/assets/images/community/imparable.png" />
                    </a>
                </div>

                <div class="col-sm-3 logo-container logo-container-sponsor">
                    <a href="#">
                        <img class="logo" src="/assets/images/sponsors/red.png" />
                    </a>
                </div>
                <div class="col-sm-3 logo-container logo-container-sponsor">
                    <a href="#">
                        <img class="logo" src="/assets/images/sponsors/cookie_depot.png" />
                    </a>
                </div>
                <div class="col-sm-3 logo-container logo-container-sponsor">
                    <a href="#">
                        <img class="logo" src="/assets/images/sponsors/fablab.png" />
                    </a>
                </div>
                <div class="col-sm-3 logo-container logo-container-sponsor">
                    <a href="#">
                        <img class="logo" src="/assets/images/sponsors/startuplab.png" />
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="faq" class="section faq">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Preguntas frecuentes</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-group" id="accordion-faq" role="tablist" aria-multiselectable="true">
                        <div class='panel panel-default'>
                            <div class='panel-heading' role='tab' id='heading2'>
                                <h4 class='panel-title'>
                                    <a class='faq-toggle collapsed' role='button' data-toggle='collapse' data-parent='#accordion-faq' href='#collapse2' aria-expanded='true'
                                        aria-controls='collapse2'> ¿Qué es Tuna Tech?</a>
                                </h4>
                            </div>

                            <div id='collapse2' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading2'>
                                <div class='panel-body'>

                                    <p>Es un evento enfocado en reunir comunidades de tecnología, emprendimiento, makers, creativos,
                                        científicos y profesionistas de diferentes ramas. Nuestro objetivo es fomentar el
                                        uso de la ciencia, la tecnología y la innovación.</p>
                                </div>
                            </div>
                        </div>
                        <div class='panel panel-default'>
                            <div class='panel-heading' role='tab' id='heading3'>
                                <h4 class='panel-title'>
                                    <a class='faq-toggle collapsed' role='button' data-toggle='collapse' data-parent='#accordion-faq' href='#collapse3' aria-expanded='true'
                                        aria-controls='collapse3'> ¿Por qué se hace Tuna Tech?</a>
                                </h4>
                            </div>

                            <div id='collapse3' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading3'>
                                <div class='panel-body'>

                                    <p>Tuna Tech se realiza con el objetivo de difundir los diferentes temas de las comunidades
                                        involucradas en su organización y es un evento sin fines de lucro por lo que dependemos
                                        de nuestros patrocinadores y donativos.</p>
                                </div>
                            </div>
                        </div>
                        <div class='panel panel-default'>
                            <div class='panel-heading' role='tab' id='heading4'>
                                <h4 class='panel-title'>
                                    <a class='faq-toggle collapsed' role='button' data-toggle='collapse' data-parent='#accordion-faq' href='#collapse4' aria-expanded='true'
                                        aria-controls='collapse4'> ¿Quiénes organizan el TunaTech 2017?</a>
                                </h4>
                            </div>

                            <div id='collapse4' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading4'>
                                <div class='panel-body'>

                                    <p>Una comunidad llamada Tuna Valley creada por la colaboración entre varias comunidades
                                        de San Luis Potosí: FabLab, Prismatic, Hackers & Founders, DesarrolladorSLP, Kubal,
                                        Creative Mornings, Imparable Coworking, Epic Queen</p>
                                </div>
                            </div>
                        </div>
                        <div class='panel panel-default'>
                            <div class='panel-heading' role='tab' id='heading5'>
                                <h4 class='panel-title'>
                                    <a class='faq-toggle collapsed' role='button' data-toggle='collapse' data-parent='#accordion-faq' href='#collapse5' aria-expanded='true'
                                        aria-controls='collapse5'> ¿Qué tipo de actividades habrá?</a>
                                </h4>
                            </div>

                            <div id='collapse5' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading5'>
                                <div class='panel-body'>

                                    <p>Talleres, pláticas y conferencias. TunaTech está organizado por diversas comunidades
                                        de San Luis Potosí que realizan actividades periódicas durante el año. Cada comunidad
                                        ofrece sus propias actividades muy a su estilo, de modo que además de aprender cosas
                                        muy interesantes podrás conocer gente con la que podrás seguir creciendo en los temas
                                        que te gustan.</p>
                                </div>
                            </div>
                        </div>
                        <div class='panel panel-default'>
                            <div class='panel-heading' role='tab' id='heading6'>
                                <h4 class='panel-title'>
                                    <a class='faq-toggle collapsed' role='button' data-toggle='collapse' data-parent='#accordion-faq' href='#collapse6' aria-expanded='true'
                                        aria-controls='collapse6'> ¿Quiénes pueden asistir?</a>
                                </h4>
                            </div>

                            <div id='collapse6' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading6'>
                                <div class='panel-body'>

                                    <p>Cualquier persona con interés en ciencia, tecnología, innovación y emprendimiento puede
                                        participar.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class='panel panel-default'>
                            <div class='panel-heading' role='tab' id='heading7'>
                                <h4 class='panel-title'>
                                    <a class='faq-toggle collapsed' role='button' data-toggle='collapse' data-parent='#accordion-faq' href='#collapse7' aria-expanded='true'
                                        aria-controls='collapse7'> ¿Dónde se realizará TunaTech?</a>
                                </h4>
                            </div>

                            <div id='collapse7' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading7'>
                                <div class='panel-body'>

                                    <p>Esta edición 2017 se llevará acabo en las intalaciones del Centro de las Artes de San
                                        Luis Potosí.</p>
                                </div>
                            </div>
                        </div>
                        <div class='panel panel-default'>
                            <div class='panel-heading' role='tab' id='heading8'>
                                <h4 class='panel-title'>
                                    <a class='faq-toggle collapsed' role='button' data-toggle='collapse' data-parent='#accordion-faq' href='#collapse8' aria-expanded='true'
                                        aria-controls='collapse8'> ¿Cuáles son las fechas oficiales?</a>
                                </h4>
                            </div>

                            <div id='collapse8' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading8'>
                                <div class='panel-body'>

                                    <p>El evento de 2017 se llevará acabo los días 19 y 20 de agosto en un horario de 9:00 -
                                        23:00 Hrs.</p>
                                </div>
                            </div>
                        </div>
                        <div class='panel panel-default'>
                            <div class='panel-heading' role='tab' id='heading9'>
                                <h4 class='panel-title'>
                                    <a class='faq-toggle collapsed' role='button' data-toggle='collapse' data-parent='#accordion-faq' href='#collapse9' aria-expanded='true'
                                        aria-controls='collapse9'> Quiero asistir. ¿Qué debo hacer?</a>
                                </h4>
                            </div>

                            <div id='collapse9' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading9'>
                                <div class='panel-body'>

                                    <p>Regístrate <a href='https://www.eventbrite.com/e/tunatech-2017-tickets-35881620894' target='_blank'>aquí</a>                                        Es muy importante que te registres para nosotros poder contar con la estadística,
                                        misma que usaremos para motivar a más patrocinadores y hacer que TunaTech sea un
                                        evento anual cada vez más interesante y útil para todos</p>
                                </div>
                            </div>
                        </div>
                        <div class='panel panel-default'>
                            <div class='panel-heading' role='tab' id='heading10'>
                                <h4 class='panel-title'>
                                    <a class='faq-toggle collapsed' role='button' data-toggle='collapse' data-parent='#accordion-faq' href='#collapse10' aria-expanded='true'
                                        aria-controls='collapse10'> ¿Hay fecha límite para el registro?</a>
                                </h4>
                            </div>

                            <div id='collapse10' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading10'>
                                <div class='panel-body'>

                                    <p>Te podrás registrar hasta la mañana del 19 de agosto en la fila de registro físico.</p>
                                </div>
                            </div>
                        </div>
                        <div class='panel panel-default'>
                            <div class='panel-heading' role='tab' id='heading11'>
                                <h4 class='panel-title'>
                                    <a class='faq-toggle collapsed' role='button' data-toggle='collapse' data-parent='#accordion-faq' href='#collapse11' aria-expanded='true'
                                        aria-controls='collapse11'> ¿Dónde puedo ver el programa del evento?</a>
                                </h4>
                            </div>

                            <div id='collapse11' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading11'>
                                <div class='panel-body'>

                                    <p>En nuestro sitio web podrás encontrar todos los detalles del evento así como horarios
                                        y ubicación de las conferencias.</p>
                                </div>
                            </div>
                        </div>
                        <div class='panel panel-default'>
                            <div class='panel-heading' role='tab' id='heading12'>
                                <h4 class='panel-title'>
                                    <a class='faq-toggle collapsed' role='button' data-toggle='collapse' data-parent='#accordion-faq' href='#collapse12' aria-expanded='true'
                                        aria-controls='collapse12'> ¿Tiene algún costo el evento?</a>
                                </h4>
                            </div>

                            <div id='collapse12' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading12'>
                                <div class='panel-body'>

                                    <p>No. Hemos buscado cubrir todos los costos mediante patrocinios.</p>
                                </div>
                            </div>
                        </div>
                        <div class='panel panel-default'>
                            <div class='panel-heading' role='tab' id='heading13'>
                                <h4 class='panel-title'>
                                    <a class='faq-toggle collapsed' role='button' data-toggle='collapse' data-parent='#accordion-faq' href='#collapse13' aria-expanded='true'
                                        aria-controls='collapse13'> ¿Tengo que permanecer durante todo el evento?</a>
                                </h4>
                            </div>

                            <div id='collapse13' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading13'>
                                <div class='panel-body'>

                                    <p>Puedes entrar y salir cuando gustes, solo asegúrate de no perderte las ponencias que
                                        te interesan.</p>
                                </div>
                            </div>
                        </div>
                        <div class='panel panel-default'>
                            <div class='panel-heading' role='tab' id='heading14'>
                                <h4 class='panel-title'>
                                    <a class='faq-toggle collapsed' role='button' data-toggle='collapse' data-parent='#accordion-faq' href='#collapse14' aria-expanded='true'
                                        aria-controls='collapse14'> Quisiera participar ofreciendo un taller o plática, ¿qué debo hacer?</a>
                                </h4>
                            </div>

                            <div id='collapse14' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading14'>
                                <div class='panel-body'>

                                    <p>Si estas interesad@ en ser ponente, puedes contactar a los organizadores por medio del
                                        correo oficial del evento: contacto@tunatech.mx </p>
                                </div>
                            </div>
                        </div>
                        <div class='panel panel-default'>
                            <div class='panel-heading' role='tab' id='heading15'>
                                <h4 class='panel-title'>
                                    <a class='faq-toggle collapsed' role='button' data-toggle='collapse' data-parent='#accordion-faq' href='#collapse15' aria-expanded='true'
                                        aria-controls='collapse15'> ¿Puedo llevar menores de edad al evento?</a>
                                </h4>
                            </div>

                            <div id='collapse15' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading15'>
                                <div class='panel-body'>

                                    <p>Desde luego, inclusive hay actividades para aquellos menores que quieran participar como
                                        talleres de programación. Revisa nuestra agenda</p>
                                </div>
                            </div>
                        </div>
                        <div class='panel panel-default'>
                            <div class='panel-heading' role='tab' id='heading16'>
                                <h4 class='panel-title'>
                                    <a class='faq-toggle collapsed' role='button' data-toggle='collapse' data-parent='#accordion-faq' href='#collapse16' aria-expanded='true'
                                        aria-controls='collapse16'> ¿Habrá estacionamiento?</a>
                                </h4>
                            </div>

                            <div id='collapse16' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading16'>
                                <div class='panel-body'>

                                    <p>Las instalaciones cuentan con un estacionamiento, pero dependerá de la disponibilidad
                                        de éste.</p>
                                </div>
                            </div>
                        </div>
                        <div class='panel panel-default'>
                            <div class='panel-heading' role='tab' id='heading17'>
                                <h4 class='panel-title'>
                                    <a class='faq-toggle collapsed' role='button' data-toggle='collapse' data-parent='#accordion-faq' href='#collapse17' aria-expanded='true'
                                        aria-controls='collapse17'> ¿Puedo llevar gadgets?</a>
                                </h4>
                            </div>

                            <div id='collapse17' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading17'>
                                <div class='panel-body'>

                                    <p>Claro que si, pero solo tú seras responsable por su cuidado ya que no podemos hacernos
                                        responsables por daño, perdida, robo o extravío de éstos.</p>
                                </div>
                            </div>
                        </div>
                        <div class='panel panel-default'>
                            <div class='panel-heading' role='tab' id='heading18'>
                                <h4 class='panel-title'>
                                    <a class='faq-toggle collapsed' role='button' data-toggle='collapse' data-parent='#accordion-faq' href='#collapse18' aria-expanded='true'
                                        aria-controls='collapse18'> ¿Hay reembolso en el boleto?</a>
                                </h4>
                            </div>

                            <div id='collapse18' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading18'>
                                <div class='panel-body'>

                                    <p>El evento es gratuito y no existe ningun tipo de venta de boletos oficial.</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--<section id="photos" class="section photos">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Fotos... Proximamente</h3>
                </div>
            </div>         
        </div>
    </section>-->

    <section id="location" class="section location">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3 class="section-title">Ubicación</h3>
                    <address>
                        <p>
                            Centro de Las Artes<br> Calzada de Guadalupe 705<br> Col. Julián Carrillo<br> San Luis Potosí,
                            San Luis Potosí 78340<br>
                        </p>
                    </address>
                </div>
                <div class="col-sm-9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3695.6626581312257!2d-100.97281178515664!3d22.13883415433141!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842aa20fd0863099%3A0x5351387535ec756f!2sArts+Center+of+San+Luis+Potosi!5e0!3m2!1sen!2sus!4v1500925007347"
                        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="site-info">TunaValley 2017</p>
                    <ul class="social-block">
                        <li><a href=""><i class="ion-social-twitter"></i></a></li>
                        <li><a href=""><i class="ion-social-facebook"></i></a></li>
                        <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                        <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- script -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script src="//cdn.rawgit.com/noelboss/featherlight/1.7.8/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>